@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body  {
    font-size: 100%;
    background-color: #1f2937;
    color: aliceblue;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px; 
}

.header-menu {
    display: flex;
    gap: 32px;
}
 .header-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;

 }

 .main {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
 }

.main-items {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}
.main-items-text {
    display:flex;
    flex-direction: column;
    gap: 32px;

}

.main-items-text-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.main-items-text-subtitle {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;

}
.main-items-text-button {
    background-color: #ecd6c4;
    width: 180px;
    height: 60px; 
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;     
}
.submain {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
font-family: 'Sarala', sans-serif;
font-weight: 400;
font-size: 24px;
color: #1f2937;
text-align: center;
background-color: white;

}
.submain-image {
    border-radius: 20px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
.footer {

display: flex;
flex-direction: column;
align-items: center;
}

.footer-text-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 32px;
    color: #FFF2E7;
    padding-top: 40px;
}
.footer-text-subtitle {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ecd6c4;
    padding: 18px;
}

.footer-button {
    background-color: #ecd6c4;
    width: 120px;
    height: 48px; 
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #2f2325;     
}